extends layout

block headline
    h1 URL Shortener

block content
    div(id="container")
        h4 Enter a url
        form(method='get', action="/result")
            input(type='text' name="long_url" value="testval",  size="55", placeholder="copy/paste url here")
            button Shorten

