extends layout

block headline
    h1 Here's Your Shortened URL

block content
    p Copy and paste your shortlink from the field below
    input(id="result_input" value=`${short_url}` size="55")
















